@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: rgba(255, 255, 255, 1);
  --foreground: rgba(37, 37, 37, 1);
  --card: rgba(255, 255, 255, 1);
  --card-foreground: rgba(37, 37, 37, 1);
  --popover: rgba(255, 255, 255, 1);
  --popover-foreground: rgba(37, 37, 37, 1);
  --primary: rgba(52, 52, 52, 1);
  --primary-foreground: rgba(251, 251, 251, 1);
  --secondary: rgba(247, 247, 247, 1);
  --secondary-foreground: rgba(52, 52, 52, 1);
  --muted: rgba(247, 247, 247, 1);
  --muted-foreground: rgba(142, 142, 142, 1);
  --accent: rgba(247, 247, 247, 1);
  --accent-foreground: rgba(52, 52, 52, 1);
  --destructive: rgba(231, 0, 11, 1);
  --border: rgba(235, 235, 235, 1);
  --input: rgba(235, 235, 235, 1);
  --ring: rgba(181, 181, 181, 1);
  --chart-1: rgba(245, 73, 0, 1);
  --chart-2: rgba(0, 150, 137, 1);
  --chart-3: rgba(16, 78, 100, 1);
  --chart-4: rgba(255, 185, 0, 1);
  --chart-5: rgba(254, 154, 0, 1);
  --sidebar: rgba(252, 10, 10, 1);
  --sidebar-foreground: rgba(37, 37, 37, 1);
  --sidebar-primary: rgba(52, 52, 52, 1);
  --sidebar-primary-foreground: rgba(251, 251, 251, 1);
  --sidebar-accent: rgba(247, 247, 247, 1);
  --sidebar-accent-foreground: rgba(52, 52, 52, 1);
  --sidebar-border: rgba(235, 235, 235, 1);
  --sidebar-ring: rgba(181, 181, 181, 1);
  --sidebar-width: 12rem;
  --sidebar-width-icon: 4rem;
}

@media (min-width: 1280px) {
  :root {
    --sidebar-width: 20rem;
    --sidebar-width-icon: 6rem;
  }
}

.dark {
  --background: rgba(37, 37, 37, 1);
  --foreground: rgba(251, 251, 251, 1);
  --card: rgba(52, 52, 52, 1);
  --card-foreground: rgba(251, 251, 251, 1);
  --popover: rgba(52, 52, 52, 1);
  --popover-foreground: rgba(251, 251, 251, 1);
  --primary: rgba(235, 235, 235, 1);
  --primary-foreground: rgba(52, 52, 52, 1);
  --secondary: rgba(69, 69, 69, 1);
  --secondary-foreground: rgba(251, 251, 251, 1);
  --muted: rgba(69, 69, 69, 1);
  --muted-foreground: rgba(181, 181, 181, 1);
  --accent: rgba(69, 69, 69, 1);
  --accent-foreground: rgba(251, 251, 251, 1);
  --destructive: rgba(255, 100, 103, 1);
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: rgba(142, 142, 142, 1);
  --chart-1: rgba(20, 71, 230, 1);
  --chart-2: rgba(0, 188, 125, 1);
  --chart-3: rgba(254, 154, 0, 1);
  --chart-4: rgba(173, 70, 255, 1);
  --chart-5: rgba(255, 32, 86, 1);
  --sidebar: rgba(52, 52, 52, 1);
  --sidebar-foreground: rgba(251, 251, 251, 1);
  --sidebar-primary: rgba(20, 71, 230, 1);
  --sidebar-primary-foreground: rgba(251, 251, 251, 1);
  --sidebar-accent: rgba(69, 69, 69, 1);
  --sidebar-accent-foreground: rgba(251, 251, 251, 1);
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: rgba(142, 142, 142, 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground m-0;
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
      'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}

@layer utilities {
  .bg-app {
    background-color: var(--app-color);
  }
}
@layer components {
  .padding-app {
    @apply p-0 md:p-2 xl:p-3;
  }
  .border-app {
    box-shadow:
      0px 0px 3px 0px #f2f2f2 inset,
      0px 0px 0px 0px #999999 inset,
      0px 0px 0px 0px #ffffff26 inset,
      0px 0px 1px 0px #ffffffbf inset,
      0px 0px 1.69px -0.85px #ffffffbf inset,
      -5.07px -5.07px 0.85px -5.07px #ffffffcc inset,
      5.07px 5.07px 0.85px -5.07px #ffffffbf inset,
      0px 1.69px 13.52px 0px #0000001f,
      0px 0px 3.38px 0px #0000001a;
    backdrop-filter: blur(20.280595779418945px);
  }
  .backdrop-blur-sm-app-app {
    backdrop-filter: blur(4px);
  }
  .backdrop-blur-md-app {
    backdrop-filter: blur(8px);
  }
  .backdrop-blur-lg-app {
    backdrop-filter: blur(16px);
  }
  .backdrop-blur-xl-app {
    backdrop-filter: blur(24px);
  }
  .backdrop-blur-none-app {
    backdrop-filter: none;
  }
}
